 <div class="my-3">
   <h2>Retry</h2>
   <br>
 </div>

  <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-stripped" *ngIf="fetchData && fetchData.length > 0">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Age</th>
              <th>Salary</th>
            </tr>
            <tr *ngFor="let fetch of fetchData let i=index">
              <ng-container *ngIf="i<5">
                <th scope="row">{{fetch.id}}</th>
                <td>{{fetch.employee_name}}</td>
                <td>{{fetch.employee_age}}</td>
                <td>Rs.&nbsp;{{fetch.employee_salary}}</td>
              </ng-container>
            </tr>
        </table>
        <br>
        <button class="btn btn-primary" type="button" (click)="fetchDetails()">
          <span *ngIf="fetching" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{fetching ? 'Fetching...' : 'Fetch Employee Data'}}
        </button>
        <br>
        <br>
        <span> Status:
          <strong [ngClass]="{ 'text-success' : status === 'success', 'text-danger' : status === 'Problem Fetching Data'}">{{status}}</strong></span>
      </div>
  </div>
