<div class="row mt-2 ml-2">
  <div class="clearfix col-md-12">
    <div class="box">
      <span>Observable 1</span>
      </div>
      <div class="box">
        <span>Observable 2</span>
      </div>
      <div class="box">
        <span>Observable 3</span>
      </div>
      <div class="box">
          <span>Observable 4</span>
        </div>
        <div class="box">
          <span>Observable 5</span>
        </div>
        <div class="box">
          <span>Observable 6</span>
        </div>
  </div>
</div>
