<!-- <div class="container my-3">
  <h2>Async/Await</h2>
  <div class="row mt-2 ml-2">
    <span>When we use async keyword before function then it always return a promise</span>
  </div>
</div> -->


<div class="container">
  <div class="my-3">
    <h2>Async/Await</h2>
    <span>
      <strong>Async : &nbsp;</strong>When we use async keyword before function then it always return a promise
    </span>
    <br>
    <span><strong>Await : &nbsp;</strong> await wait for the promise to resolve</span>
    <br>
    <div class="row mt-2">
      <div class="col-md-4">
        <strong>Ex-01: With Promise</strong>
        <hr>
        <button class="btn btn-primary" (click)="fetchPromise()">Buy Laptop</button>
        <hr>
        <div *ngIf="!hideAll && showPromise">
          <i class="fa fa-spinner" style="font-size:24px">&nbsp;Loading Promise Data..</i>
        </div>
      </div>

      <div class="col-md-4">
        <strong>Ex-02: With Asyc/Await</strong>
        <hr>
        <button class="btn btn-primary" (click)="fetchAsyncAwait()">Buy Laptop</button>
        <hr>
        <div *ngIf="!hideAll && showAsyncAwait">
          <i class="fa fa-spinner" style="font-size:24px">&nbsp;Loading async/await Data..</i>
        </div>
      </div>

      <div class="col-md-4">
        <strong>Ex-03: With Fetch API</strong>
        <hr>
        <button class="btn btn-primary" (click)="fetchDatabyAPI()">Buy Laptop</button>
        <hr>
        <div *ngIf="!hideAll && showFetchData">
          <i class="fa fa-spinner" style="font-size:24px">&nbsp;Loading Fetch API Data..</i>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="fetchData && fetchData.length > 0">
    <table class="table table-striped table-bordered mt-4">
      <thead>
        <tr>
          <th scope="col" style="width:14%">Student Number</th>
          <th scope="col">Title</th>
          <th scope="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fetch of fetchData let i=index">
          <th scope="row">{{fetch.id}}</th>
          <td>{{fetch.title}}</td>
          <td>{{fetch.body}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
