<!-- <div class="container my-3">
  <div class="row mt-2 ml-2">
      <div class="col-md-6">
        <h5>Observable Stream</h5>
        <ul>
          <li>User Input (button Click)</li>
          <li>Http Request</li>
          <li>Array</li>
          <li>Object</li>
          <li>etc.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h5>Observable Handle (Subscribe)</h5>
        <ul>
          <li>Data</li>
          <li>Error</li>
          <li>Completion</li>
          <li>
            <strong>Syntax</strong><br>
            .subscribe(
              (data) => console.log(data)
              (error) => console.log(error)
              () => console.log('')
            )

          </li>
        </ul>
      </div>
  </div>
</div> -->

<div class="container">
  <router-outlet></router-outlet>
</div>

