<div class="my-3">
  <h2>MergeMap</h2>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <strong>Source-01 | Map</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos:</strong>['Tech', 'News', 'Comedy']
      </p>
      <hr>
      <ul id="elContainer" class="text-success"></ul>
    </div>

    <div class="col-md-4">
      <strong>Source-02 | Map + mergeAll</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos:</strong>['Tech', 'News', 'Comedy']
      </p>
      <hr>
      <ul id="elContainer2" class="text-success"></ul>
    </div>

    <div class="col-md-4">
      <strong>Source-03 | mergeMap</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos:</strong>['Tech', 'News', 'Comedy']
      </p>
      <hr>
      <ul id="elContainer3" class="text-success"></ul>
    </div>
  </div>
  <hr>
</div>
