<div class="my-3">
  <h2>Subject & BehaviourSubject</h2>
  <hr>
  <br>
  <span>Username is : <strong class="text-success">{{userName}}</strong></span>
  <hr>
  <br>
  <div class="row">
    <div class="col-md-4">
      <app-comp1></app-comp1>
    </div>
    <div class="col-md-4">
      <app-comp2></app-comp2>
    </div>
    <div class="col-md-4">
      <app-comp3></app-comp3>
    </div>
  </div>
  <br>
  <strong>Ng Content Testing</strong>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <app-comp-content>
        <h3 class="card-title">Ng Content Testing 1</h3>
        <button class="btn btn-primary" id="btnId">Know More 1</button>
      </app-comp-content>
    </div>
    <div class="col-md-4">
      <app-comp-content>
        <h3 class="card-title">Ng Content Testing 2</h3>
        <button class="btn btn-primary" id="btnId">Know More 2</button>
      </app-comp-content>
    </div>
    <div class="col-md-4">
      <app-comp-content>
        <h3 class="card-title">Ng Content Testing 3</h3>
        <button class="btn btn-primary" id="btnId">Know More 3</button>
      </app-comp-content>
    </div>
  </div>
</div>
